@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:300,400,500,700|Raleway&display=swap');
html, body{
      margin: 0;
      background-color: #f0f0f0;
      font-family: "Be Vietnam";
      font-weight: 400;
}
.nav-wrapper{
      height: 100%;
}
nav{
      position: sticky;
      top: 0;
      width: 100%;
      font-size: 1em;
      padding: 1px 0px 1px 0px;
      height: 55px;
      background: #32a852;
      border-bottom: 2px solid #1e8a3b;
      z-index: 10;
}
nav .container{
      padding: 0;
}
.container{
      margin: 0 auto;
      width: 1080px;
      max-width: 80%;
      padding: 5px;
}
.container.main{
      background: white;
}
nav ul, nav ul li{
      display: inline;
}
nav ul:first-of-type{
      float: left;
      padding-left: 0;
}
nav ul:nth-of-type(2){
      float: right;
}
nav ul li a{
      color: white;
      font-size: 1.2em;
      position: relative;
      bottom: 4px;
      margin: 0px 15px 0px 15px;
}
nav ul li a:hover{
      text-decoration: none;
}
header{
      background-image: url('../images/shot.jpg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      padding-top: 50px;
      padding-bottom: 50px;
}
header h1, header p{
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
      color: white;
      font-size: 2.4em;
}
nav input{
      padding: 10px;
      box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.5);
      outline: none;
      border: none;
      border-radius: 5px;
}



table{
      position: relative;
      width: 100%;
      border-top: 2px dashed rgb(226, 226, 226);
      border-bottom: 2px dashed rgb(226, 226, 226);
}
table thead{
      font-weight: 700;
      background-color: rgb(245, 245, 245);
}
table thead tr td{
      height: 40px;
}

table.scores tbody tr td:first-child{
      background-color: #f3f3f3;
}

table.scores tbody tr td:nth-child(n+3){
      border-left: solid 1px #e7e7e7;
      border-spacing: 0px;
      text-align: center;
}
table.scores tbody tr td:nth-child(n+5){
      text-align: right;
}